# Virtual Environment
ven/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Uploaded Files
uploads/

uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log