# Environment variables
.env

# Virtual environments
ven/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite
*.sqlite3
jobs.db

# Uploaded resumes
uploads/*
!uploads/.gitkeep

# Flask
instance/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp